<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.preston.budget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/money"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/money"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="List"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddItem"
            android:label="AddItem"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EditItem"
            android:label="EditItem"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EditSettings"
            android:label="EditSettings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".GetFilter"
            android:label="GetFilter"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".GetDate"
            android:label="GetDate"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>